<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        
    <title><%= CamelName %></title>
    <meta name="description" content="" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="dist/css/<%= identifier %>.min.css?cb=0" />
  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to
            improve your experience.
        </p>
    <![endif]-->

    <h1>
      <%= identifier %>
    </h1>

    <p>
      Congratulations! Your eliosin wireframe is ready to use. Look... we
      even added all the tags you wanted, ready to use. Next steps? <a
          href="https://elioway.gitlab.io/eliosin"
          >Read our QuickStart</a
      >
    </p>
<%# ========= SINNERS TWO BY TWO ========= %>
<% let sinnerCount = (heaven.length > hell.length) ? heaven.length : hell.length %>
<% for (var i = 0; i < sinnerCount; i++) {
  let y = [
    Math.round(Math.random()*5),
    Math.round(Math.random()*5),
    Math.round(Math.random()*5)
  ]
  if (i < hell.length) {
    let x = Math.round(Math.random()*80)
    let hellTag = hell[i] %>
    <<%= hellTag %>>
      <%= randText.slice(x, x + y[0]).join(' ') %>
    </<%= hellTag %>> <%
  }
  if (i < heaven.length) {
    let x = Math.round(Math.random()*80)
    let heavenTag = heaven[i] %>
    <<%= heavenTag %>>
      <%= randText.slice(x, x + y[0]).join(' ') %>
    </<%= heavenTag %>> <%
  }
} %><%# END EACH SINNER %>
<%# ========= EACH PILLAR PER BLOCK ========= %>
<% for (var i = 0; i < pillar.length; i++) {
  let pillarTag = pillar[i] %>
  <%# never write h1 (already added) %>
  <% if (pillarTag != 'h1') {
  let x = Math.round(Math.random()*80) + 2
  let y = [
    Math.round(Math.random()*5),
    Math.round(Math.random()*5),
    Math.round(Math.random()*5)
  ]
  let shortText = [
    randText[x].split(' ').slice(0, y[0]).join(' '),
    randText[x + 1].split(' ').slice(0, y[1]).join(' '),
    randText[x + 2].split(' ').slice(0, y[2]).join(' ')
  ]
  let longText = [
    randText[x],
    randText[x + 1],
    randText[x + 2]
  ] %>
    <<%= pillarTag %>> <%
  if (pillarTag.substring(0,1) == 'h' && ['1','2','3','4','5','6'].includes(pillarTag.substring(1,2)) ) { %>
      <%= shortText[0] %> <%
  } else if (pillarTag == 'ol' || pillarTag == 'ul') { %>
      <li><%= longText[0] %></li>
      <li><%= longText[1] %></li>
      <li><%= longText[2] %></li> <%
  } else if (pillarTag == 'dl') { %>
      <dt><%= shortText[0] %></dt><dd><%= longText[0] %></dd>
      <dt><%= shortText[1] %></dt><dd><%= longText[1] %></dd>
      <dt><%= shortText[2] %></dt><dd><%= longText[2] %></dd> <%
  } else if (pillarTag == 'table') { %>
      <thead>
        <tr><th>Name</th><th>Description</th><th>Value</th></tr>
      </thead>
      <tfoot>
        <tr>
        <td colspan="3">
          <button>&laquo;</button> <button>1</button> <button>2</button> <button>3</button> <button href="#">4</button> <button>&raquo;</button>
        </td>
        </tr>
      </tfoot>
      <tbody>
        <tr><th><%= shortText[0].split(' ')[0] %></th><td><%= longText[0] %></td><td><%= x %></td></tr>
        <tr><th><%= shortText[1].split(' ')[0] %></th><td><%= longText[1] %></td><td><%= x + 9 %></td></tr>
        <tr><th><%= shortText[2].split(' ')[0] %></th><td><%= longText[2] %></td><td><%= x + 10 %></td></tr>
      </tbody> <%
  } else { %>
      <%= randText.slice(x, x + 10 + y[0]).join(' ') %> <a href="#"><%= shortText[0] %>...</a> <%
  } %>
    </<%= pillarTag %>> <%
} %> <%# END OF never write h1 %><% } %> <%# END 1 OF EACH PILLAR %>
    <footer style="text-align: center;">
      <img style="width: auto; height: 48px;" src="elio-eden-logo.png" />
      <br />
      <br />
      <br />
      <br />
      <a
          href="https://elioway.gitlab.io/eliosin"
          >COVER YOUR PARTS</a
      >
      <br />
      <br />
      <img src="apple-touch-icon.png" />
      <br />
      <br />
      <br />
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="dist/js/adons.js?cb=0"></script>
    <script src="dist/js/main.js?cb=0"></script>
  </body>
</html>
