// ONLY USED BY TESTS
$container: (body, main); // sin classes only affect direct children of these
$pillar: (p,h2); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (blockquote,h3); // hangs right - gets the best views.
$hell: (aside,h4); // hangs left.

@import 'blockquote/settings';
